html,
body {
  font-family: "Helvetica", Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  cursor: pointer;
}

.form-wrapper {
  border-radius: 4px;
  padding: 50px;
  text-align: center;
  background: #00c6ff; /* fallback for old browsers */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-wrapper h2 {
  color: whitesmoke;
  font-size: 2.5rem;
}

.form-wrapper input {
  border: none;
  padding: 15px 60px;
  margin-top: 30px;
  text-align: center;
}

.button {
  border: none;
  background: #00c6ff;
  padding: 15px 30px;
  color: whitesmoke;
  font-size: 14px;
  margin-right: 10px;
  margin-top: 50px;
}

.button:hover {
  background: #0072ff;
  cursor: pointer;
}
.form-wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
}
